.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;

  color: #ffffff;
  border-radius: 15px;
  border: 0.5px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(0, 0, 0, 0.25);
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navContainer {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.projectSelectContainer {
  display: flex;
  gap: 5px;
  width: 320px;
}

.route {
  border: 1px solid rgba(255, 255, 255, 0.4) !important;
  border-radius: 10px !important;
  padding: 5px 15px !important;
  font-family: "Benzin", sans-serif !important;
  font-weight: normal !important;
  color: #ffffff !important;
  &.active {
    font-weight: normal;
    color: #5565ed;
  }
}

.avatar {
  background-color: #fff !important;
  color: #000 !important;
  font-weight: normal !important;
}

.outletContainer {
  flex: 1
}

@media (max-width: 600px) {
  .headerContainer {
    flex-direction: column;
    gap: 15px
  }
  .navContainer {
    flex-direction: column;
    gap: 15px;
    width: 100%;
  }
  .projectSelectContainer {
    width: 100%;
  }
}