.headerContainer {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 10px;
  padding: 5px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  overflow: visible;
  background-color: rgba(255, 255, 255, 0.06);
  z-index: 1050;
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  cursor: pointer;
  height: 38px;
}

.navContainer {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.projectSelectContainer {
  display: flex;
  gap: 5px;
  width: 320px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 10px;
}

.route {
  border: 1px solid rgba(255, 255, 255, 0.4) !important;
  border-radius: 10px !important;
  padding: 5px 15px !important;
  font-family: "Benzin", sans-serif !important;
  font-weight: normal !important;
  color: #ffffff !important;
  &.active {
    font-weight: normal;
    color: #5565ed;
  }
}

.avatar {
  background-color: #fff !important;
  color: #000 !important;
  font-weight: normal !important;
}

.mainContainer {
  flex: 1;
}

@media (max-width: 600px) {
  .headerContainer {
    flex-direction: column;
    gap: 15px;
  }
  .navContainer {
    flex-direction: column;
    gap: 15px;
    width: 100%;
  }
  .projectSelectContainer {
    width: 100%;
  }
}
