.container {
  background-color: rgba(255, 255, 255, 0.1);
  margin: 10px;
}

.title {
  font-family: "Benzin", sans-serif;
  font-weight: normal;
  font-size: 30px;
}

.commentsContainer {
  max-height: 65vh;
}