.container {
  display: flex;
  flex-direction: column;
  align-content: center;

  height: 87vh;
  margin-top: 10px;
  gap: 30px;
  overflow: hidden;
}

.stageContainer {
  flex: 1;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;

  gap: 10px;
  padding: 0;
  overflow: auto;
}
