@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "Benzin";
  src: url("../public/fonts/Benzin/Benzin-Medium.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "Benzin";
  src: url("../public/fonts/Benzin/Benzin-Semibold.woff") format("woff");
  font-weight: bold;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url("./assets/body1.png");
  background-color: black;
  background-size: cover;
  font-weight: lighter;
  font-size: calc(9px + 2vmin);
  color: white;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.app {
  min-height: 100vh;
}
