.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  color: #ffffff;
  border-radius: 0 0 15px 15px;
  border: 0.5px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(0, 0, 0, 0.25);
}

.placeholderContainer {
  height: calc(100vh - 110px);
  margin-top: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.25);
}

.leftContainer {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.projectSelect {
  width: 300px !important;
}

.route {
  font-weight: light;
  font-size: 21px;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  cursor: pointer;
  &.active {
    font-weight: normal;
    color: #5565ed;
  }
}

.avatar {
  background-color: #fff !important;
  color: #000 !important;
  font-weight: normal !important;
}
